body {
  height: 2273px;
  font-family: 'Raleway';
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 21.37px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 68px;
  float: left;
}

header {
  width: 1200px;
  margin: 0 auto;
  height: 41px;
  background-color: #000000;
  padding-top: 10px;
}

.nav li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.37px;
  text-align: left;
  float: right;
  text-transform: uppercase;
  font-family: 'Raleway';

}

.nav li:hover > ul.nav-content {
  display: flex;
}

ul.nav li > a:hover {
  text-decoration: underline;
}

.nav li > ul.nav-content::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000000;
  display: block;
  position: absolute;
  top:-10px;
}

.nav-content {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 120px;
  height: 96px;
  position: relative;
  background-color: #000000;
  z-index: 1;
  margin-top: 25px;

  a {
    padding: 20px;
  }
}

ul.nav-content:hover {
  display: flex;
}

a {
  color: inherit;
  padding-right: 68px;
  text-decoration: none;
}
/*---------------------------------------------------*/
#welcome {
  background: -webkit-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(209, 208, 216) 100%);
  background: -o-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(209, 208, 216) 100%);
  background: -ms-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(209, 208, 216) 100%);
  background: -moz-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(209, 208, 216) 100%);
  background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, rgb(209, 208, 216) 100%);
  height: 500px;
  width: 100%;
  padding-left: 68px;
  padding-right: 68px;
  position: relative;
}

.slider-prevbutton {
  font-family: 'Raleway';
  color: #24baa0;
  font-size: 78px;
  font-weight: 300;
  line-height: 20.371px;
  text-align: left;
  position: absolute;
  left: 68px;
  top: 240px;
}

.slider-nextbutton {
  font-family: 'Raleway';
  color: #24baa0;
  font-size: 78px;
  font-weight: 300;
  line-height: 20.371px;
  text-align: left;
  position: absolute;
  right: 68px;
  top: 240px;
}

#welcome img {
  float: left;
  width: 547px;
  height: 346px;
  margin-top: 100px;
}
#welcome img[src~="images/red_chair.png"]{
  transform: scale(0.8, 0.8);
}

#welcome h1 {
  font-family: 'Raleway';
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  line-height: 20.371px;
  text-align: left;
  text-transform: uppercase;
  top: 145px;
  left: 588px;
  position: absolute;
}

#welcome p {
  font-family: 'Raleway';
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.37px;
  text-align: center;
  position: absolute;
  top: 210px;
  left: 550px;
  height: 79px;
  width: 421px;
}

.button-more {
  width: 264px;
  height: 53px;
  background-color: #24baa0;
  border-radius: 10px;
  position: absolute;
  top: 320px;
  left: 640px;
  padding-top: 5px;
  padding-left: 5px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 20.371px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 12px;
}
.slider-block {
  display: none;
}
/*---------------------------------------------------*/
#gallery {
  height: 332px;
  padding-top: 32px;
  padding-left: 65px;
}

.gallery {
  width: 1055px;
  height: 254px;
  background-color: #ffffff;
  position: relative;
}

.gallery-content {
  float: left;
  padding-right: 28px;
}

.gallery-contentarticle {
  width: 338px;
  height: 252px;
  float: left;
  border: 1px solid #dddddd;
  padding: 10px;
  font-family: 'Raleway';
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.371px;
  text-align: left;
}

.galleryh2 {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Raleway';
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.371px;
  text-align: left;
  padding-left: 10px;
  position: absolute;
  top: 60%;
  width: 355px;
  height: 62px;
  padding-left: 10px;
  padding-top: 10px;
}
.images-to-hover:hover+h2{
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms linear,
    visibility 0s linear 500ms;
}

.galleryh2::after {
  content: "";
  border: 4px solid #1fbba1;
  position: absolute;
  width: 138px;
  margin-top: 26px;
  left: 10px;
}

.galleryh2a {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Raleway';
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.371px;
  text-align: left;
  padding-left: 10px;
  position: absolute;
  top: 5%;
  width: 355px;
  height: 62px;
  padding-left: 10px;
  padding-top: 10px;
}

.galleryh2a::after {
  content: "";
  border: 4px solid #1fbba1;
  position: absolute;
  width: 138px;
  margin-top: 26px;
  left: 10px;
}

.gallery-article {
  margin-top: 20%;
  font-family: 'Raleway';
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.371px;
  text-align: left;
}
/*---------------------------------------------------*/
#price-list {
  background-color: #f1f1f1;
  height: 725px;
  padding-top: 66px;
  padding-left: 66px;
}

.inner-price-container {
  background-color: #f1f1f1;
  width: 1052px;
  height: 100%;
  padding-top: 100px;
}

.price-box {
  width: 326px;
  height: 497px;
  background: white;
  float: left;
  margin-left: 20px;
  border: 2px solid #d7d6d6;
  background: #f9f9f9;
  position: relative;
}

.small-circle {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  margin-left: 135px;
  margin-top: -39px;
  border: 2px solid #d7d6d6;
  background-color: #ffffff;
  box-sizing: content-box;
}

.small-circle.greenbox {
  background-color: #22c8ac;
  border: none;
}

.inner-small-circle {
  width: 27px;
  height: 27px;
  background-color: red;
  margin: 15px;
  border-radius: 50%;
  background-color: #c3c3c3;
}

.white {
  background-color: #ffffff;
}

h2.price {
  font-family: 'Raleway';
  color: #575757;
  font-size: 22px;
  font-weight: 500;
  line-height: 20.371px;
  text-align: left;
}

.plan {
  margin-top: 31px;
  margin-bottom: 20px;
  font-family: 'Raleway';
  color: #27c7ab;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.white-plan-text {
  color: #ffffff;
}

.greenbox {
  background-color: #22c8ac;
  border: 2px solid #22c8ac;
}

.big-circle {
  width: 131px;
  height: 131px;
  background: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  border: 2px solid #c3c3c3;
}

.big-circle > p:nth-child(1) {
  font-family: 'Raleway';
  color: #c2c2c2;
  font-size: 45px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 10px;
}

.big-circle > p:nth-child(2) {
  font-family: 'Raleway';
  color: #c6c6c6;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.big-circle-center {
  width: 131px;
  height: 131px;
  background: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.big-circle-center > p:nth-child(1) {
  font-family: 'Raleway';
  color: #c2c2c2;
  font-size: 45px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-top: 45px;
}

.big-circle-center > p:nth-child(2) {
  font-family: 'Raleway';
  color: #c6c6c6;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.price-text {
  text-align: center;
  font-family: 'Raleway';
  color: #939393;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px;
}

.price-text.light-grey {
  background: #f1f1f1;
}

.price-text.dark-grey {
  background: #e5e5e5;
}

.price-text.white {
  background: #ffffff;
}

.button-price-one {
  border-radius: 8px;
  background-color: #22c8ac;
  width: 122px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 10px;
}

.button-price-two {
  border-radius: 8px;
  background-color: #ffffff;
  width: 122px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
  text-align: center;
  color: #27c7ab;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 10px;
}

.button-price-three {
  border-radius: 8px;
  background-color: #22c8ac;
  width: 122px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 10px;
}
/*---------------------------------------------------*/
#form {
  height: 565px;
  background-color: #ffffff;
  padding-top: 66px;
  padding-left: 66px;
}

h2.price::after {
  content: "";
  border: 4px solid #1fbba1;
  position: absolute;
  width: 320px;
  margin-top: 26px;
  margin-left: -80px;
}

.contact {
  margin-top: 46px;
}

.twoInputs {
  width: 633px;
  height: 64px;
  margin-bottom: 28px;
  border: 2px solid #22c8ac;
  padding-top: 19px;
  padding-left: 16px;
}

.twoInputs::placeholder,
textarea::placeholder {
  font-family: 'Raleway';
  color: #cacaca;
  font-size: 28px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

textarea {
  width: 631px;
  height: 187px;
  resize: none;
  border: 2px solid #22c8ac;
  padding-top: 19px;
  padding-left: 16px;
}

.redchair {
  float: right;
  margin-right: 145px;
}

.custom-checkbox {
  display: inline-block;
  line-height: 20px;
  margin-right: 10px;
  float: right;
}

p.agree {
  float: right;
  margin-right: 101px;
  margin-left: 14px;
  font-family: 'Raleway';
  color: #aeaeae;
  font-size: 20px;
  font-weight: 300;
  line-height: 22.37px;
  text-align: left;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox input[type="checkbox"] + label {
  display: block;
  float: left;
  width: 46px;
  height: 47px;
  border: 2px solid #22c8ac;
}

.custom-checkbox input[type="checkbox"] + label:after {
  content: '';
  width: 34px;
  height: 33px;
  margin: 4px;
  background: url("../images/form_ok.jpg") no-repeat center/100%;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  display: block;
}

input[type=submit] {
  background-color: #24baa0;
  width: 343px;
  height: 71px;
  float: right;
  border-radius: 8px;
  position: absolute;
  margin-top: 116px;
  margin-left: 50px;
}

input[value="Wyślij"] {
  font-family: 'Raleway';
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 20.371px;
  text-align: center;
}
/*---------------------------------------------------*/
footer {
  height: 110px;

  .footer-inner-container {
    margin-left: 66px;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;

    p.copyright {
      margin-right: 287px;
      font-family: 'Raleway';
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 500;
      line-height: 21.37px;
      text-align: left;
    }

    .footer-social {
      margin: 7px;
      color: inherit;
      padding-right: 0;
      text-decoration: none;
    }

    p.footerSit {
      margin-left: 73px;
      font-family: 'Raleway';
      color: #9b9b9b;
      font-size: 20px;
      font-weight: 600;
      line-height: 21.37px;
      text-align: left;
      text-transform: uppercase;

      span {
        font-weight: bold;
      }
    }
  }
}

.green-letters {
  color: #27c7ab;
  font-weight: bold;
  font-family: 'Raleway';
}
